<h3 class="clearfix">
  <%=@task.name%>
  <a href="/tasks/<%=@task.id%>/edit" class="right btn btn-default">Edit</a>
</h3>
<% if @task.complete_by %>
  <p>Complete By: <%=@task.complete_by_str%></p>
<% end %>
<p><%=@task.description%></p>
<h3>In Projects:</h3>
<div class="list-group">
  <% @task.projects.each do |project|%>
    <a class="list-group-item" href="/projects/<%=project.id%>"><%=project.name%></a>
  <% end %>
</div>
<form action="/tasks/<%=@task.id%>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" id="delete-task" value="Delete" class="btn btn-danger">
</form>
