<div>
  <h3><%=@task.name%></h3>
  <a href="/tasks/<%=@task.id%>/edit">Edit</a>
  <form action="/tasks/<%=@task.id%>/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" id="delete-task" value="Delete">
  </form>
</div>
<% if @task.complete_by %>
  <p>Complete By: <%=@task.complete_by_str%></p>
<% end %>
<p><%=@task.description%></p>
<h3>In Projects:</h3>
<ul>
  <% @task.projects.each do |project|%>
    <li><a href="/projects/<%=project.id%>"><%=project.name%></a></li>
  <% end %>
</ul>
