<div>
  <h3><%=@project.name%></h3>
  <a href="/projects/<%=@project.id%>/edit">Edit</a>
  <form action="/projects/<%=@project.id%>/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" id="delete-project" value="Delete">
  </form>
</div>
<p><%=@project.description%></p>
<div class="list-group">
  <%@project.tasks.each do |task|%>
    <a class="list-group-item" href="/tasks/<%=task.id%>"><%=task.name%></a>
  <%end%>
</div>
